# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Binaries
*.dll
*.exe

# Program debug database
*.pdb

*/bin
*/obj
/Packages

# Files containing private data
NuGetPackage.ps1
NuGetPush.ps1

Redist/Linux/*.so.*
Redist/Linux/*.so
Redist/Windows/*.dll
Redist/pack.sh
Redist/redist.7z
.vs/
Samples/ManagedCudaSamples/FluidsForms/bin/
Samples/ManagedCudaSamples/FluidsForms/obj/
Samples/ManagedCudaSamples/FluidsGLCSharp/bin/
Samples/ManagedCudaSamples/FluidsGLCSharp/obj/
Samples/ManagedCudaSamples/FluidsWPF/bin/
Samples/ManagedCudaSamples/FluidsWPF/obj/
Samples/ManagedCudaSamples/NPP_HistogramEqualization/obj/
Samples/ManagedCudaSamples/NPPJpegCompression/bin/
Samples/ManagedCudaSamples/NPPJpegCompression/obj/
Samples/ManagedCudaSamples/nvgraph_Pagerank/bin/
Samples/ManagedCudaSamples/nvgraph_Pagerank/obj/
Samples/ManagedCudaSamples/packages/
Samples/ManagedCudaSamples/shrQATest/obj/
Samples/ManagedCudaSamples/simpleCUBLAS/bin/
Samples/ManagedCudaSamples/simpleCUBLAS/obj/
Samples/ManagedCudaSamples/simpleCUFFT/bin/
Samples/ManagedCudaSamples/simpleCUFFT/obj/
Samples/ManagedCudaSamples/simpleOccupancy/obj/
Samples/ManagedCudaSamples/simplePitchLinearTexture/obj/
Samples/ManagedCudaSamples/simpleStreams/obj/
Samples/ManagedCudaSamples/vectorAdd/obj/
Samples/ManagedCudaSamples/vectorAdd_nvrtc/bin/
Samples/ManagedCudaSamples/vectorAdd_nvrtc/obj/
*.nupkg
Samples/ManagedCudaSamples/simpleCUFFTKernel/x64/
Samples/ManagedCudaSamples/simpleOccupancyKernel/x64/
Samples/ManagedCudaSamples/simplePitchLinearTextureKernel/x64/
Samples/ManagedCudaSamples/simpleStreamsKernel/x64/
Samples/ManagedCudaSamples/vectorAddKernel/x64/
Samples/ManagedCudaSamples/FluidKernel/x64/
